body {
    background-color: mistyrose;
}

#img {
    padding: 5%, 5%, 5%, 5%;
    width: 25%;
    height: 500px;
}
.cards {
    display: flex;
    justify-content: space-between;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    display: table-cell;
    max-width: 300px;
    padding: 4px 4px;
    margin: 10px;
    background-color: white;
}
/*div.card {
    overflow: hidden;
}*/

/*.col {
    display: table-cell;*/ /* Make elements inside the container behave like table cells */
/*}*/

    .card :hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform .scale(.75,1.5);
        transition: all .5s ease-in-out;
    }

h1 {
    text-align: center;
    font-size: 300%;
    color: crimson;
}

#container {
    padding: 2px 16px;
}
